.user-wrap{
	
	.top-wrap{
		position: relative;
		height: 280rpx;
		background-image: url('/static/images/index/user_bg.png');
		background-size: 100% 280rpx;
	}
	
	.float-wrap{
		position: absolute;
		top: 180rpx;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.content-wrap{
			width: 90%;
			.user-info{
				width: 100%;
				height: 220rpx;
				border-radius: 12rpx;
				background-image: url('/static/images/index/user_head_bg.png');
				background-size: 100% 220rpx;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.info-left{
					display: flex;
					align-items: center;
					.user-image{
						padding-left: 32rpx;
						
					}
					.user-name-phone{
						display: flex;
						flex-direction: column;
						padding-left: 32rpx;
						.user-name{
							font-size: 38rpx;
						}
						.user-phone{
							padding-top: 12rpx;
							font-size: 32rpx;
						}
					}
				}
				.info-right{
					padding-right: 28rpx;
					.right-arrow{
						font-size: 36rpx;
						
					}
				}
				
			}
			
			.func-wrap{
				
				.func-item{
					display: flex;
					align-items: center;
					.func-icon{
						width: 48rpx;
						height: 48rpx;
					}
					.func-name{
						padding-left: 12rpx;
					}
				}
				
			}
			
			.logout-btn-box{
				.logout-btn{
					line-height: 80rpx;
					font-size: 32rpx;
					color: #999999;
				}
			}
		}
	}
	
	@media screen and (min-width: 600px) {
		.bottom-box{
			height: 80rpx;
		}
	}
}