.bind-wrap{
	display: flex;
	flex-direction: column;
	.bind-content{
		.prompt-text{
			//margin-top: 60rpx;
			padding-left: 32rpx;
			padding-right: 32rpx;
			padding-top: 22rpx;
			//padding-bottom: 22rpx;
		}
		
		.tenant-list{
			display: flex;
			flex-direction: column;
			padding: 22rpx;
			
			.tenant-item{
				margin-top: 22rpx;
				display: flex;
				flex-direction: column;
				background-color: #FFF;
				padding: 32rpx;
				border-radius: 22rpx;
				.tenant-name{
					display: flex;
					padding-bottom: 22rpx;
					.tenant-name-label{
						
					}
					.tenant-name-text{
						
					}
				}
				
				.room-list{
					display: flex;
					flex-direction: column;
					.room-item{
						.user-num{
							display: flex;
							justify-content: space-between;
							align-items: center;
							padding-top: 12rpx;
							font-size: 32rpx;
							.user-num-left{
								display: flex;
								align-items: center;
								.user-num-label{
									
								}
								
								.user-num-text{
									padding-left: 22rpx;
									
								}
								
								.meter-link-text{
									padding-left: 22rpx;
									font-size: 26rpx;
									font-family: PingFang SC;
									font-weight: 400;
									text-decoration: underline;
									color: #007CFF;
								}
							}
							
							.user-num-right{
								.del-icon{
									width: 50rpx;
									height: 50rpx;
								}
							}
						}
						
						.room-name{
							font-size: 26rpx;
						}
						
						
						.room-location{
							display: flex;
							align-items: center;
							padding-top: 12rpx;
							padding-bottom: 22rpx;
							
							.room-location-icon{
								width: 38rpx;
								height: 38rpx;
							}
							
							.room-location-address{
								padding-left: 12rpx;
								font-size: 26rpx;
							}
						}
					}
				}
			}
		}
	}
	
	.add-btn-box{
		display: flex;
		align-items: center;
		
		padding-left: 32rpx;
		padding-right: 32rpx;
		padding-bottom: 32rpx;
		.add-btn{
			height: 84rpx;
			line-height: 84rpx;
			width: 100%;
			font-size: 32rpx;
		}
	}
	
	.meter-item{
		display: flex;
		flex-direction: column;
		.meter-name{
			font-size: 32rpx;
		}
		
		.meter-num{
			display: flex;
			align-items: center;
			padding-top: 12rpx;
			.meter-num-label{
			}
			.meter-num-text{
			}
		}
		
		.meter-location{
			display: flex;
			padding-top: 12rpx;
			padding-bottom: 12rpx;
			.meter-location-icon{
				width: 38rpx;
				height: 38rpx;
			}
			.meter-location-text{
			}
		}
	}
}